* {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.primary-color {
  color: #fd6e0a;
}

.btn-primary {
  color: #ffffff;
  background: #fd6e0a;
  border: 2px solid #fd6e0a;
  font-size: 20px;
  border-radius: 5px;
  padding: 18px 35px;
}

.btn-primary img {
  margin-right: 5px;
}

.btn-secondary {
  color: #fd6e0a;
  background: #fff8f3;
  border: 2px solid #fd6e0a;
  font-size: 20px;
  border-radius: 5px;
  padding: 18px 35px;
  margin-left: 20px;
}

/* Header Style */
header {
  background: #fff8f3;
  background-image: url("/images/header_bg.png"), url("/images/developer.png");
  background-repeat: no-repeat;
  background-position: bottom right, left;
}

/* Navigation Style */
nav {
  display: flex;
  justify-content: space-between;
  padding: 50px 120px;
}

.nav-title {
  font-weight: 800;
  font-size: 45px;
}

nav ul {
  display: flex;
  align-items: center;
  font-size: 20px;
}

nav ul li {
  list-style: none;
  margin-left: 50px;
}

/* Banner Styles */
.banner {
  display: flex;
  align-items: center;
  margin: 0px 120px;
  padding-top: 12px;
}
.banner-subtitle {
  font-weight: 600;
  font-size: 25px;
  margin-bottom: 10px;
}

.banner-title {
  font-size: 25px;
  margin-bottom: 25px;
}

.banner-para {
  margin-bottom: 35px;
}

/* Main Section Styles */
main {
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
}

.main-title {
  font-weight: 700;
  font-size: 35px;
  margin-bottom: 30px;
}

/* About Section Style */
.about {
  background: #fff8f3;
  margin-top: 130px;
  border-radius: 10px;
  padding: 130px 150px;
}

.about-description {
  font-weight: 400;
  font-size: 18px;
}

.about-info-container {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.about-info-title {
  font-weight: 300;
  font-size: 18px;
  margin-top: 30px;
}

.about-info {
  font-weight: 400;
  font-size: 15px;
  margin-top: 5px;
}

/* What I Do Section Styles */
.what-i-do {
  padding: 130px 150px;
}

.what-i-do-description {
  font-weight: 400;
  font-size: 18px;
}

.skill-container {
  display: flex;
  gap: 24px;
  /* justify-content: space-around; */
  padding-top: 50px;
}

.skill {
  background: #ffffff;
  box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  padding: 30px;
}

.skill-img {
  text-align: left;
}

.skill-title {
  padding: 30px;
  font-weight: 700;
  font-size: 20px;
}

.skill-description {
  color: #757575;
}

/* Resume Section Styles */
.resume {
  padding: 130px 150px;
}

.resume-section-container {
  width: 395px;
}

.resume-container {
  display: flex;
  justify-content: space-between;
  text-align: left;
  gap: 50px;
  margin-top: 115px;
}

.resume-title-main {
  font-weight: 700;
  font-size: 30px;
  color: #474747;
}
.resume-section {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-right: 20px;
}
.resume-title {
  font-weight: 700;
  font-size: 25px;
  color: #474747;
  margin-bottom: 10px;
}
.resume-subtitle {
  font-weight: 600;
  font-size: 20px;
  color: #757575;
  margin-bottom: 20px;
}
.resume-description {
  font-weight: 400;
  font-size: 16px;
  color: #757575;
}

hr {
  border: 1px solid #d1d1d1;
}

.resume-btn {
  margin-top: 70px;
}

/* Contact Section Style */
.contact {
  display: flex;
  text-align: left;
  background: #fff8f3;
  padding: 130px 230px;
}
.contact .main-title {
  margin-bottom: 20px;
}
.social {
  margin-top: 20px;
  padding: 10px;
}

.contact input {
  padding: 18px 20px;
  width: 461px;
  height: 64px;
  margin-bottom: 20px;
  border: 0;
}

.contact textarea {
  width: 461px;
  height: 180px;
  border: 0;
  padding: 18px 20px;
  margin-bottom: 40px;
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
  background-color: #fff8f3;
}
