* {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.primary-color {
  color: #fd6e0a;
}

.btn-primary {
  color: #ffffff;
  background: #fd6e0a;
  border: 2px solid #fd6e0a;
  font-size: 20px;
  border-radius: 5px;
  padding: 18px 35px;
}

.btn-secondary {
  color: #fd6e0a;
  background: #fff8f3;
  border: 2px solid #fd6e0a;
  font-size: 20px;
  border-radius: 5px;
  padding: 18px 35px;
  margin-left: 20px;
}
/* Header Style */
header {
  background: #fff8f3;
  background-image: url("/images/header_bg.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}

/* Navigation Style */
nav {
  display: flex;
  justify-content: space-between;
  padding: 50px 120px;
}

.nav-title {
  font-weight: 800;
  font-size: 45px;
}

nav ul {
  display: flex;
  align-items: center;
  font-size: 20px;
}

nav ul li {
  list-style: none;
  margin-left: 50px;
}

/* Banner Styles */
.banner {
  display: flex;
  align-items: center;
  margin: 0px 120px;
}
.banner-subtitle {
  font-weight: 600;
  font-size: 25px;
  margin-bottom: 10px;
}

.banner-title {
  font-size: 25px;
  margin-bottom: 25px;
}

.banner-para {
  margin-bottom: 35px;
}
